.browser-history-item-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.time {
  color: black;
  font-size: 15px;
}
.title {
  font-size: 15px;
  margin-right: 10px;
  font-family: 'Roboto';
}
.website-name {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 10px;
}
.website-con {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 20px;
  margin-right: 10px;
}
.delete-icon {
  height: 20px;
}
.button {
  background-color: white;
  border: none;
}
li {
  list-style-type: none;
}
